@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 100;
    src: url('woff2/DanaFaNum-Thin.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url('woff2/DanaFaNum-Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    src: url('woff2/DanaFaNum-Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 800;
    src: url('woff2/DanaFaNum-ExtraBold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 930;
    src: url('woff2/DanaFaNum-ExtraBlack.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-ExtraBlack.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 990;
    src: url('woff2/DanaFaNum-fat.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-fat.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    src: url('woff2/DanaFaNum-Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('woff/DanaFaNum-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


